.elucidate {
	position: relative;
	overflow: visible;
	}
/* flashlight beam shape... */
.elucidate:before {
	content: "";
	height: 100px;
	width: 100px;
	border-radius: 8px 3px 97px 3px;
	background-color: #d8ce12;
	position: absolute;
	top: -6px;
	left: -6px;
	opacity: 0.4;
	visibility: hidden;
	}
	.elucidate.target:before {
		-webkit-transition: opacity 1.5s ease-in-out;
		   -moz-transition: opacity 1.5s ease-in-out;
		     -o-transition: opacity 1.5s ease-in-out;
		        transition: opacity 1.5s ease-in-out;
		visibility: visible;
		opacity: 0 !important;
		}

/* 100px vertical rectangle (in the event that transitions don't work, otherwise flashlight beam covers content) */
.uc-no-csstransitions .elucidate:before {
	width: 3px;
	border-radius: 3px;
	top: 0;
	opacity: 0.4 !important;
	}